.post {
    border: 1px solid color(gray, dark);
    min-width: 320px;
    max-width: 320px;
    margin: 20px 10px;
    flex-grow: 1;
    flex-basis: 320px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(95, 95, 94);
    position: relative;

    .info {
        flex-grow: 1;
        display: flex;
        background: rgb(10, 108, 189);

        .user {
            align-self: center;
            padding: 5px;

            span {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: inline-block;
                background: white url('../images/logo.jpg');
                background-size: 100% 100%;
                text-align: center;
                line-height: 30px;
            }
        }

        .title {
            align-self: center;
            padding: 5px;
            font-size: 14px;
            flex-grow: 1;
            color: white;

            input {
                background: transparent;
                border: none;
                width: 90%;
                padding: 4%;
                outline: none;
                border-bottom: 1px dotted gray;

            }
        }
    }

    .msg-body {
        flex-grow: 1;
        padding: 10px;
        background: white;

        textarea {
            width: 100%;
            height: 80px;
            border: 1px dotted gray;
            outline: none;
        }
    }

    .action-buttons {
        display: none;
        position: absolute;
        top: -24px;
        right: 0;
        background: rgba(255, 255, 255, .3);
        width: 100%;
        text-align: right;

        .btn {
            padding: 4px;
            border-radius: 4px;

            &.btn-danger {
                background: red;
            }

            &.btn-primary {
                background: greenyellow;
            }

        }
    }

    &:hover {
        .action-buttons {
            display: block;
        }
    }
}