$app-background:#ccc;

$palettes: (blue: (base: #23778f, light: #23778f, lighter: #48525C),
    yellow: (base: #ffa949, light: #dfdfdf),
    gray: (base: #c0bfbf, light: #e6e3e3, lighter: #f5e2e2, dark: #535353));